
@import url('https://fonts.googleapis.com/css?family=Anton|Monoton|Sarala|Mina');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-mfizz/2.4.1/font-mfizz.css');


:root {
  --main-header-color: #373854;
  --sub-header-color: #daa520;;
  --sub-header-font: 'anton', sans-serif;
  --main-text-font: 'Mina', sans-serif;
  --main-text-color: white;
}

html, body {
  height: 100%;
  background-color: #daa520;
  margin: 0;
  box-sizing: border-box;
}

#grid {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: auto;
  grid-template-areas: "header header header"
                       "sidebar main ."
                       "footer footer footer"
}

header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

aside {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

main {
  box-sizing: border-box;
  grid-area: main;
  background-color: #252525 ;
  height: 100%;
  padding: 1% 0 5% 5%;
  position: relative;
}

footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
}


aside button {
  width: 25%;
}

.menuIcons {
  font-size: 50px;
  color: grey;
}

header h1 {
  font-family: monoton;
  font-size: 50px;
  color: var(--main-header-color);
  text-decoration: overline;
  white-space: nowrap;
  font-weight: 400;
  margin-top: 0.5%;
  margin-bottom: 0px;
}

header ul {
  padding: 0;
  margin: 0;
}

ul :last-child {
  margin: 0;
}

header ul li {
  display: inline-block;
  overflow: hidden;
  margin-right: 10px;
}

header ul li a {
  font-family: var(--sub-header-font);
  font-size: 30px;
  color: var(--main-header-color);
  text-decoration: overline;
}

section h2 {
  font-family: var(--sub-header-font);
  color: var(--sub-header-color);
  font-size: 35px;
  margin: 0;
  text-align: left;
}

section p {
  font-family: var(--main-text-font);
  color: var(--main-text-color);
  font-size: 22px;
}

#about:after {
  display: block;
  content: "";
  clear: both;
}

img:after {
  display: block;
  content: "";
  clear: both;
}

#about img {
  float: right;
  width: 28%;
  border-radius: 50%;
  margin-right: 1%;
}

.toolsIcons {
  color: #808080;
  font-size: 100px;
}

#tools ul {
  display: flex;
  justify-content: space-around;
  padding: 0;
}

#tools ul li {
  display: inline; 
  margin-left: 10px;
}

#tools ul li:nth-child(even){
  margin-top: 10%;
}

#projects ul {
  text-decoration: none;
  padding: 0;
  margin: 0;
  align-self: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

#projects ul li {
  list-style-type: none;
  flex-shrink: 1;
}

ul li img {
  width: 100%;
}

footer ul {
  padding: 0;
  margin: 0;
}

footer ul li {
  list-style-type: none;
  display: inline;
}

.contactIcons {
  font-size: 100px;
  color: black;
  text-align: center;
  margin: 0 50px;
}

/*
******* Animations *******
*/

.door { 
width: 50%;
height: 100%;
position: absolute;
transition: width 2s;
}

.door-right {
  background: url("../assets/puertaderecha.png");
  margin-top: -1%;
  margin-left: -4.99%;
  background-size: cover;
  background-repeat: no-repeat;
}

.door-left {
  background: url("../assets/puertaizquierda.png");
  margin-top: -1%;
  right: 0px;
  background-size: cover;
  background-repeat: no-repeat;
}

.open {
  width: 0%;
}

