@import url("https://fonts.googleapis.com/css?family=Anton|Monoton|Sarala|Mina|Fascinate+Inline");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-mfizz/2.4.1/font-mfizz.css");

:root {
  --hero_bkg-light: #ee6c4d;
  --heroH1_color-light: #ffffff;
  --heroh2_color-light: #252525c4;
  --heroNav_color-light: #252525c4;
  --body_bkg-light: #8e9aaf;
  --main_bkg-light: #f0f0f0;
  --h2_color-light: #3e5067;
  --h2_font-light: "anton", sans-serif;
  --h3_color-light: #e95b39;
  --h3_font-light: "Fascinate+Inline", sans-serif;
  --text_color-light: black;
  --text_font-light: "Mina", sans-serif;
  --nav_bkg-light: #3e5067;
  --nav_brd-light: none;
  --nav_txt-light: #ffffffb0;
  --nav_focus-light: #ee6c4d;
  --input_bkg-light: #ffffff;
  --input_brd-light: 1px solid #3e5067;
  --card_bkg-light: #c3c9d0;
  --card_brd-light: 1px solid #3e5067;
  --card_color-light: #2a3748;
  --social_color-light: #3e5067;
  --social_brd-light: red;

  --hero_bkg-dark: #222831;
  --heroH1_color-dark: #f05454;
  --heroh2_color-dark: #7e98b0;
  --heroNav_color-dark: #7e98b0;
  --body_bkg-dark: #2c394b;
  --main_bkg-dark: #222831;
  --h2_color-dark: #f05454;
  --h2_font-dark: "anton", sans-serif;
  --h3_color-dark: #7e98b0;
  --h3_font-dark: "Fascinate+Inline", sans-serif;
  --text_color-dark: #dbd8e3;
  --text_font-dark: "Mina", sans-serif;
  --nav_bkg-dark: #2c394b;
  --nav_brd-dark: 1px solid black;
  --nav_txt-dark: #dbd8e3;
  --nav_focus-dark: #f05454;
  --input_bkg-dark: #2c394b;
  --input_brd-dark: none;
  --card_bkg-dark: #2a3748;
  --card_brd-dark: 1px solid #7e98af;
  --card_color-dark: white;
  --social_color-dark: #dbd8e3;
  --social_brd-dark: red;
}

@media (prefers-color-scheme: dark) {
  :root {
    --hero_bkg: var(--hero_bkg-dark);
    --heroH1_color: var(--heroH1_color-dark);
    --heroh2_color: var(--heroh2_color-dark);
    --heroNav_color: var(--heroNav_color-dark);
    --body_bkg: var(--body_bkg-dark);
    --main_bkg: var(--main_bkg-dark);
    --h2_color: var(--h2_color-dark);
    --h2_font: var(--h2_font-dark);
    --h3_color: var(--h3_color-dark);
    --h3_font: var(--h3_font-dark);
    --text_color: var(--text_color-dark);
    --text_font: var(--text_font-dark);
    --nav_bkg: var(--nav_bkg-dark);
    --nav_brd: var(--nav_brd-dark);
    --nav_txt: var(--nav_txt-dark);
    --nav_focus: var(--nav_focus-dark);
    --input_bkg: var(--input_bkg-dark);
    --input_brd: var(--input_brd-dark);
    --card_bkg: var(--card_bkg-dark);
    --card_brd: var(--card_brd-dark);
    --card_color: var(--card_color-dark);
    --social_color: var(--social_color-dark);
    --social_brd: var(--social_brd-dark);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --hero_bkg: var(--hero_bkg-light);
    --heroH1_color: var(--heroH1_color-light);
    --heroh2_color: var(--heroh2_color-light);
    --heroNav_color: var(--heroNav_color-light);
    --body_bkg: var(--body_bkg-light);
    --main_bkg: var(--main_bkg-light);
    --h2_color: var(--h2_color-light);
    --h2_font: var(--h2_font-light);
    --h3_color: var(--h3_color-light);
    --h3_font: var(--h3_font-light);
    --text_color: var(--text_color-light);
    --text_font: var(--text_font-light);
    --nav_bkg: var(--nav_bkg-light);
    --nav_brd: var(--nav_brd-light);
    --nav_txt: var(--nav_txt-light);
    --nav_focus: var(--nav_focus-light);
    --input_bkg: var(--input_bkg-light);
    --input_brd: var(--input_brd-light);
    --card_bkg: var(--card_bkg-light);
    --card_brd: var(--card_brd-light);
    --card_color: var(--card_color-light);
    --social_color: var(--social_color-light);
    --social_brd: var(--social_brd-light);
  }
}

[color-scheme="dark"] {
  --hero_bkg: var(--hero_bkg-dark);
  --heroH1_color: var(--heroH1_color-dark);
  --heroh2_color: var(--heroh2_color-dark);
  --heroNav_color: var(--heroNav_color-dark);
  --body_bkg: var(--body_bkg-dark);
  --main_bkg: var(--main_bkg-dark);
  --h2_color: var(--h2_color-dark);
  --h2_font: var(--h2_font-dark);
  --h3_color: var(--h3_color-dark);
  --h3_font: var(--h3_font-dark);
  --text_color: var(--text_color-dark);
  --text_font: var(--text_font-dark);
  --nav_bkg: var(--nav_bkg-dark);
  --nav_brd: var(--nav_brd-dark);
  --nav_txt: var(--nav_txt-dark);
  --nav_focus: var(--nav_focus-dark);
  --input_bkg: var(--input_bkg-dark);
  --input_brd: var(--input_brd-dark);
  --card_bkg: var(--card_bkg-dark);
  --card_brd: var(--card_brd-dark);
  --card_color: var(--card_color-dark);
  --social_color: var(--social_color-dark);
  --social_brd: var(--social_brd-dark);
}

[color-scheme="light"] {
  --hero_bkg: var(--hero_bkg-light);
  --heroH1_color: var(--heroH1_color-light);
  --heroh2_color: var(--heroh2_color-light);
  --heroNav_color: var(--heroNav_color-light);
  --body_bkg: var(--body_bkg-light);
  --main_bkg: var(--main_bkg-light);
  --h2_color: var(--h2_color-light);
  --h2_font: var(--h2_font-light);
  --h3_color: var(--h3_color-light);
  --h3_font: var(--h3_font-light);
  --text_color: var(--text_color-light);
  --text_font: var(--text_font-light);
  --nav_bkg: var(--nav_bkg-light);
  --nav_brd: var(--nav_brd-light);
  --nav_txt: var(--nav_txt-light);
  --nav_focus: var(--nav_focus-light);
  --input_bkg: var(--input_bkg-light);
  --input_brd: var(--input_brd-light);
  --card_bkg: var(--card_bkg-light);
  --card_brd: var(--card_brd-light);
  --card_color: var(--card_color-light);
  --social_color: var(--social_color-light);
  --social_brd: var(--social_brd-light);
}

html,
body {
  background-color: var(--body_bkg);
  margin: 0;
  box-sizing: border-box;
}

* {
  transition: background-color 500ms ease-in, color 1000ms ease-in;
}

#themeBtn {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.themeBtn--hero {
  position: absolute;
  right: 2%;
  top: 2%;
}

.themeBtn--side {
  position: relative;
  left: 1rem;
  top: -14rem;
}

#grid {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header"
    "sidebar main main"
    "footer footer footer";
  justify-content: space-around;
}

/* *****Header***** */
.heroHeader {
  grid-area: header;
  background: var(--hero_bkg);
  margin-bottom: 1%;
  height: 100vh;
}

.heroHeader h1 {
  font-family: monoton;
  font-size: 50px;
  color: var(--heroH1_color);
  white-space: nowrap;
  font-weight: 400;
  margin-top: 20%;
  text-align: center;
  margin-bottom: 0;
}

.heroHeader h2 {
  font-family: monoton;
  font-size: 25px;
  text-align: center;
  color: var(--heroh2_color);
  text-decoration-style: dotted;
  text-decoration-line: overline underline;
  margin-top: 0;
}

.heroHeader span {
  color: var(--heroh2_color);
  margin-left: 9px;
}

#nav {
  margin-top: 5%;
  text-align: center;
  transition: opacity 200ms linear;
  outline: none;
}

.navTrigger {
  opacity: 0;
}

.navTrigger1 {
  opacity: 1;
}

#nav ul {
  padding: 0;
  margin: 0;
}

#nav ul :last-child {
  margin: 0;
}

#nav ul li {
  display: inline-block;
  overflow: hidden;
  margin-right: 10px;
  margin-right: 4%;
}

#nav ul li a {
  font-family: var(--h2_font);
  font-size: 80px;
  color: var(--heroNav_color);
  text-decoration: overline;
}

#nav a,
#nav svg {
  transition: none;
}

#nav ul li a:focus {
  outline: none;
}

/* *****Aside(left-column)***** */
aside {
  grid-area: sidebar;
}

.navM {
  text-align: center;
  border: var(--nav_brd);
  background: var(--nav_bkg);
  position: sticky;
  top: 10%;
  left: 100%;
  width: 50px;
  transform: translate(52px);
  overflow: hidden;
  transition: transform 200ms linear;
}

.navM ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  list-style-type: none;
  padding: 0;
  text-align: center;
}
.navM ul li {
  margin-bottom: 20px;
}

.navM ul a {
  font-family: "monoton";
  font-size: 40px;
  color: var(--nav_txt);
  text-decoration: none;
  font-weight: 800;
  transition: none;
}

.navM ul a * {
  transition: none;
}

.navM ul a:focus {
  outline: none;
}

.navM ul .isSelected {
  color: var(--nav_focus);
  outline: none;
  transition: none;
}

.navM ul :last-child {
  margin: 0;
}

/*Nav transition trigger class*/
.navMTrigger {
  transform: translate(0px);
}

/* *****Main column***** */
main {
  box-sizing: border-box;
  grid-area: main;
  background-color: var(--main_bkg);
  height: 100%;
  padding: 1% 0 0 5%;
  position: relative;
  margin-right: 7%;
}

.navSs {
  background: var(--hero_bkg);
  position: sticky;
  top: 0;
  z-index: 1;
  height: 0;
  overflow: hidden;
  transition: height 200ms linear;
}

.navstrigger {
  height: 44px;
}

.navS ul {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  color: var(--hero_bkg);
  list-style-type: none;
  text-align: center;
}

.navS ul .isSelected {
  color: var(--h2_color);
  outline: none;
}

.navS ul li {
  flex-grow: 1;
}

.navS ul a {
  font-family: "monoton";
  font-size: 40px;
  color: var(--nav_txt);
  text-decoration: none;
}

.navS ul a:focus {
  outline: none;
}

.navS ul :last-child {
  margin: 0;
}

section h2 {
  font-family: var(--h2_font);
  color: var(--h2_color);
  font-size: 35px;
  position: relative;
  left: 1%;
  margin: 0;
}

section hr {
  border-style: solid;
  border-width: 15px 20px 20px 15px;
  border-color: var(--main_bkg) var(--body_bkg) var(--body_bkg) var(--main_bkg);
  margin-top: -1.5%;
  margin-bottom: 0;
}

#about div {
  padding-left: 2%;
}

#about p {
  font-family: var(--text_font);
  color: var(--text_color);
  font-size: 22px;
}

#tools ul {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0 5% 0 2%;
  flex-wrap: wrap;
  text-align: center;
}

#tools ul li h3 {
  font-family: var(--h3_font);
  font-size: 25px;
  color: var(--h3_color);
  font-weight: 900;
  text-decoration: overline underline;
  margin-bottom: 0;
}

#tools ul li ul {
  display: inline;
  list-style-type: none;
  padding: 0;
}

#tools ul li ul li {
  font-family: var(--text_font);
  color: var(--text_color);
  font-size: 22px;
}

#projects ul {
  text-decoration: none;
  padding: 0 5% 0 2%;
  margin-top: 3%;
  align-self: center;
  display: flex;
  flex-flow: wrap;
  gap: 1rem;
  justify-content: space-between;
  list-style-type: none;
}

#projects ul li {
  flex-shrink: 1;
  width: 48%;
}

ul li img {
  width: 100%;
}

#contact-wrapper {
  display: flex;
  flex-wrap: wrap;
}

#contact form {
  display: inline-block;
  border: 5px double var(--body_bkg);
  border-left: none;
  border-bottom: none;
  margin: 0;
  flex-grow: 1;
  box-sizing: border-box;
}

#contact form ul {
  list-style-type: none;
  margin: 0;
  padding: 0 3% 0 3%;
}

#contact form ul li {
  box-sizing: border-box;
  display: block;
  width: 100%;
}

#contact form ul li textarea {
  height: 80px;
}

#contact form ul label {
  display: block;
  margin: 20px 0 5px 0;
  color: var(--h3_color);
  font-size: 25px;
  font-family: var(--h3_font);
  width: 20px;
  font-weight: bold;
  transition: none;
}

#contact form ul li input,
textarea {
  border: var(--input_brd);
  background: var(--input_bkg);
  border-radius: 3px;
  height: 34px;
  padding-left: 7px;
  color: var(--text_color);
  width: 100%;
  box-sizing: border-box;
}

#contact form ul li input:focus,
textarea:focus {
  box-sizing: border-box;
  outline: 1px solid #3e5067;
}

#contact form button {
  opacity: 100;
  display: block;
  margin: 7% auto;
  width: 200px;
  height: 50px;
  border: 3px ridge var(--h3_color);
  background: var(--input_bkg);
  border-radius: 10px;
  font-family: var(--h3_font);
  font-size: 30px;
  color: var(--h3_color);
  font-weight: bolder;
}

#contact #social {
  display: inline-block;
  padding-top: 2%;
  padding-bottom: 3%;
  border: 5px double var(--body_bkg);
  border-bottom: none;
  text-align: center;
  flex-grow: 1;
}

#contact #social div {
  height: 200px;
}

.socialIcons {
  font-size: 100px;
  color: var(--social_color);
  transition: none;
}

.card {
  display: flex;
  flex-direction: column;
  height: 32rem;
  background: var(--card_bkg);
  color: var(--card_color);
  border: var(--card_brd);
  transition: none;
}

.card :not(.cardTab_content):not(.card_title):not(.cardTab_btn) {
  transition: none;
}

.card_header {
  display: flex;
  flex-direction: column;
  padding-bottom: 0.3rem;
}

.card_title {
  font-size: 2.5rem;
  margin: 0;
  font-family: var(--h3_font);
  padding: 0.5rem 0 0.7rem 0;
  align-self: center;
}

.card_links {
  padding: 0.5rem 0.3rem 0rem 0.3rem;
  display: flex;
  gap: 0.5rem;
  justify-content: end;
}

.card_link {
  text-decoration: none;
  color: white;
  font-family: system-ui;
  background: #3e5067;
  padding: 0.3rem 0.3rem 0.3rem 0.3rem;
  border-radius: 3px;
}

.card_portraitImg {
  width: 100%;
}

.cardTab {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.cardTab_btns {
  display: flex;
  background: #3e5067;
}

.cardTab_btn {
  background: none;
  color: white;
  font-family: var(--text_font);
  font-size: 1rem;
  flex-grow: 1;
  padding: 0.4rem;
  padding-bottom: 0;
  border: none;
  border-bottom: 0.2rem solid #434b58;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.cardTab_content {
  padding-left: 0.4rem;
  padding-top: 0.5rem;
  font-family: monospace;
  font-size: 1rem;
  flex-grow: 1;
}

.cardtab_btn--separator {
  border-left: 1px solid #63666c;
  border-right: 1px solid #63666c;
}

.cardTab_btn-selected {
  background: #2a3748;
  border-bottom-color: #ffffff;
}

/* *****footer***** */
footer {
  grid-area: footer;
  height: 30px;
}

/*
******* Media queries *******
*/
@media only screen and (max-width: 1029px) {
  #tools ul {
    padding: 0 0 0 2%;
    justify-content: space-evenly;
    text-align: left;
  }

  #tools ul li {
    flex-basis: 50%;
  }

  #projects ul {
    justify-content: space-evenly;
    padding-left: 2%;
  }

  #projects ul li {
    flex-basis: 100%;
  }

  #contact form {
    flex-basis: 80%;
    border-bottom: none;
  }

  #contact #social {
    flex-basis: 95%;
    padding-top: 5%;
    padding-bottom: 0;
    border-bottom: none;
    border-left: none;
  }

  #contact form button {
    width: 150px;
    margin: 10% auto;
  }

  .card {
    height: 36rem;
  }
}

@media only screen and (max-width: 609px) {
  #grid {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto;
    grid-template-areas:
      "header header header"
      "main main main"
      "footer footer footer";
    justify-content: space-around;
  }

  .heroHeader h1 {
    font-size: 8.5vw;
  }

  .heroHeader h2 {
    font-size: 6vw;
  }

  .heroHeader #nav {
    margin-top: 20%;
  }

  main {
    padding-top: 0;
  }

  aside {
    display: none;
  }

  #nav ul li a {
    font-size: 50px;
  }

  .navM {
    width: 106%;
    border: none;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    height: 0;
    overflow: hidden;
    transform: translate(-5.6%);
    transition: height 200ms linear;
  }

  .navMTrigger {
    height: 44px;
  }

  .navM ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    color: var(--hero_bkg);
    list-style-type: none;
    text-align: center;
  }

  .navM ul li {
    flex-grow: 1;
  }

  .navM ul a {
    font-family: "monoton";
    font-size: 40px;
    color: var(--nav_txt);
    text-decoration: none;
  }

  .navM ul a:focus {
    outline: none;
  }

  .navM ul :last-child {
    margin: 0;
  }

  #tools ul {
    justify-content: space-around;
  }

  #tools ul li {
    flex-basis: 100%;
  }

  .card {
    height: 28rem;
  }

  .card_title {
    font-size: 2rem;
  }
}
